.create {
  border-radius: 1rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 286px;
  border: 1px solid #d5d2d2;
  

  &__title {
    height: 50px;
    margin-left: 10px;
    font-size: 18px;
  }

  &__text {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    resize: none;
    display: flex;
    margin: 5px 0 0 10px;
    margin-top: 5px;
    width: 96%;
    outline: none;
    border: 1px solid black;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    padding: 10px 0px;
    height: 150px;
  }
  
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: -90px;
  }
  & img {
    border-radius: 1rem;
    width: 95%;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
  }

  &__label {
    width: 30px;
    margin-left: 20px;
  }
  &__label:hover {
    cursor: pointer;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    margin-bottom: -85px;
  }
}

input {
  width: 96%;
  border: 1px solid black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  outline: none;
  display: flex;
  margin-right: 0;
}

.btn {
  background-color: #0f14191a;
  border-radius: 1rem;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}
.btn:hover {
  background-color: #ff00008e;
  cursor: pointer;
}
input#file-input {
  display: none;
}

#icon {
  font-size: 30px;
}
.input-image {
  height: 20px;
  width: 150px;
}
