/* BASE */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-size: 1rem;
  text-decoration: none;
  padding-bottom: 6rem;
  color: rgb(0, 0, 0);
  background-color: rgba(232, 230, 227, 0.9019607843);
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
  padding-top: 100px;
}

.container {
  padding: 0 1rem 0 1.5rem;
}

html, body, form {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* PAGES */
h1, .home-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

section {
  margin: auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column-reverse;
}

.create {
  border-radius: 1rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 286px;
  border: 1px solid #d5d2d2;
}
.create__title {
  height: 50px;
  margin-left: 10px;
  font-size: 18px;
}
.create__text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  resize: none;
  display: flex;
  margin: 5px 0 0 10px;
  margin-top: 5px;
  width: 96%;
  outline: none;
  border: 1px solid black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding: 10px 0px;
  height: 150px;
}
.create__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 1rem;
  margin: 0 10px;
  margin-top: 20px;
  margin-bottom: -90px;
}
.create img {
  border-radius: 1rem;
  width: 95%;
}
.create__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
}
.create__label {
  width: 30px;
  margin-left: 20px;
}
.create__label:hover {
  cursor: pointer;
}
.create__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  margin-bottom: -85px;
}

input {
  width: 96%;
  border: 1px solid black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  outline: none;
  display: flex;
  margin-right: 0;
}

.btn {
  background-color: rgba(15, 20, 25, 0.1019607843);
  border-radius: 1rem;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5568627451);
  cursor: pointer;
}

input#file-input {
  display: none;
}

#icon {
  font-size: 30px;
}

.input-image {
  height: 20px;
  width: 150px;
}

.login-form {
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 255px;
  border: 1px solid #d5d2d2;
  width: 100%;
  max-width: 600px;
  margin-bottom: 345px;
}
.login-form__group {
  margin: auto;
  width: 100%;
  height: 50px;
  margin-left: 10px;
}
.login-form__password {
  margin-bottom: 50px;
}
.login-form__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.login-form input {
  font-size: 16px;
}
.login-form label {
  font-size: 18px;
}

.btn {
  background-color: rgba(15, 20, 25, 0.1019607843);
  border-radius: 1rem;
  border: none;
  height: 35px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5568627451);
  cursor: pointer;
}

.signup-form {
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 300px;
  padding-top: 12px;
  border: 1px solid #d5d2d2;
  width: 100%;
  max-width: 600px;
  margin-bottom: 345px;
}
.signup-form__group {
  margin: auto;
  width: 100%;
  height: 50px;
  margin-left: 10px;
}
.signup-form__password {
  margin-bottom: 50px;
}
.signup-form__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.signup-form label {
  font-size: 18px;
}
.signup-form input {
  font-size: 16px;
}

.btn {
  background-color: rgba(15, 20, 25, 0.1019607843);
  border-radius: 1rem;
  border: none;
  height: 35px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5568627451);
  cursor: pointer;
}

/* COMPONENTS */
.posts {
  margin-bottom: 1rem;
  padding: 0 1rem 0 1.5rem;
}

.post {
  border: 1px solid #d5d2d2;
  display: flex;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 1rem;
}
.post:hover {
  background-color: rgba(255, 255, 255, 0.5607843137);
}
.post h2 {
  margin: 0;
}
.post a {
  cursor: pointer;
}
.post__content {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
}
.post__avatar {
  border-radius: 3rem;
  height: 80px;
  width: 85px;
  margin: 20px;
}
.post__image {
  margin: 20px 20px 0 0;
}
.post img {
  margin: auto;
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
}
.post__title {
  font-size: 24px;
  margin-top: 5px;
}
.post__info {
  display: flex;
  color: rgba(0, 0, 0, 0.7333333333);
  align-items: center;
  font-style: italic;
}
.post__user {
  font-size: 14px;
}
.post__date {
  margin-left: 3px;
  font-size: 13px;
}
.post__text {
  margin-top: 1rem;
  width: 95%;
  overflow: hidden;
  word-wrap: break-word;
}
.post__btn {
  display: flex;
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  width: 80%;
}
.post__btn #icon {
  font-size: 1rem;
  cursor: pointer;
}
.post .like {
  display: flex;
}
.post .like__btn {
  margin-right: 3px;
}
.post .like__btn:hover {
  color: blue;
}
.post .dislike {
  display: flex;
}
.post .dislike__btn {
  margin-right: 3px;
}
.post .dislike__btn:hover {
  color: red;
}
.post .fa-thumbs-down {
  margin-top: 3px;
}
.post .update:hover {
  color: rgb(5, 109, 255);
}
.post .delete:hover {
  color: red;
}

/*LAYOUT*/
.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d2d2;
}
.header__img {
  margin-top: 3px;
}

img {
  width: 250px;
}

.nav {
  display: inline-flex;
}
.nav ul {
  text-decoration: none;
  display: inline-flex;
  height: 2rem;
  border-radius: 3rem;
  padding: 1rem;
  align-items: center;
  margin: auto 5px;
}
.nav ul:hover {
  background-color: rgba(15, 20, 25, 0.1019607843);
}
.nav button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

nav a.active {
  font-weight: bold;
}

/*@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .header__nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav a {
    display: none;
  }
  li.fade {
    opacity: 1;
  }
}

*/
.footer {
  background-color: #ffffff;
  border-top: 1px solid #d5d2d2;
  width: 100%;
  height: 50px;
  margin: auto;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
  position: absolute;
  bottom: 0;
}
.footer__logo {
  height: 1rem;
  width: 100px;
}
.footer p {
  margin-left: 4px;
  font-size: 12px;
  font-weight: bold;
}

/*UTILS*/

/*# sourceMappingURL=style.css.map */
