/* BASE */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-size: 1rem;
  text-decoration: none;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: rgba(232, 230, 227, 0.9019607843);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.container {
  padding: 0 1rem 0 1.5rem;
}

@media screen and (max-width: 950px) {
  main {
    padding-bottom: 250px;
  }
}
html, body, form {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* PAGES */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.home-message {
  margin-bottom: 753px;
}

.btn.btn-load {
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 10%;
}

section {
  margin: auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  section {
    width: 100%;
  }
  h1,
.home-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 16px;
  }
  .btn.btn-load {
    width: 30%;
  }
}
.create {
  border-radius: 1rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 399px;
  border: 1px solid #d5d2d2;
}
.create__title {
  height: 50px;
  margin-left: 10px;
  font-size: 18px;
}
.create__text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  resize: none;
  display: flex;
  margin: 5px 0 0 10px;
  margin-top: 5px;
  width: 96%;
  outline: none;
  border: 1px solid black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding: 10px 0px;
  height: 150px;
}
.create__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 1rem;
  margin: 0 10px;
  margin-top: 20px;
  margin-bottom: -90px;
}
.create img {
  border-radius: 1rem;
  width: 95%;
}
.create__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
}
.create__label {
  width: 30px;
  margin-left: 20px;
}
.create__label:hover {
  cursor: pointer;
}
.create__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}

input {
  width: 96%;
  border: 1px solid black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  outline: none;
  display: flex;
  margin-right: 0;
}

.btn {
  background-color: rgba(15, 20, 25, 0.1019607843);
  border-radius: 1rem;
  border: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5568627451);
  cursor: pointer;
}

input#file-input {
  display: none;
}

#icon {
  font-size: 30px;
}

.input-image {
  height: 20px;
  width: 150px;
}

@media screen and (max-width: 650px) {
  .create {
    border-radius: 0;
  }
  .container {
    padding: 0;
  }
}
.login-form {
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 255px;
  border: 1px solid #d5d2d2;
  width: 100%;
  max-width: 600px;
  margin-bottom: 468px;
}
.login-form__group {
  margin: auto;
  width: 100%;
  height: 50px;
  margin-left: 10px;
}
.login-form__password {
  margin-bottom: 50px;
}
.login-form__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.login-form input {
  font-size: 16px;
}
.login-form label {
  font-size: 18px;
}

.btn {
  background-color: rgba(15, 20, 25, 0.1019607843);
  border-radius: 1rem;
  border: none;
  height: 35px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5568627451);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .login-form {
    border-radius: 0;
    display: block;
    padding-top: 12px;
    height: 200px;
  }
  .login-form .btn {
    margin-top: 15px;
    width: 30%;
  }
}
.signup-form {
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 300px;
  padding-top: 12px;
  border: 1px solid #d5d2d2;
  width: 100%;
  max-width: 600px;
  margin-bottom: 423px;
}
.signup-form__group {
  margin: auto;
  width: 100%;
  height: 50px;
  margin-left: 10px;
}
.signup-form__password {
  margin-bottom: 50px;
}
.signup-form__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.signup-form label {
  font-size: 18px;
}
.signup-form input {
  font-size: 16px;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.btn {
  background-color: rgba(15, 20, 25, 0.1019607843);
  border-radius: 1rem;
  border: none;
  height: 35px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5568627451);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .signup-form {
    display: block;
    border-radius: 0;
    height: 250px;
  }
  #name, #email, #password {
    margin: 8px;
    font-size: 15px;
  }
  .btn {
    margin-top: 15px;
    width: 30%;
  }
}
/* COMPONENTS */
.posts {
  padding: 0 1rem 0 1.5rem;
}

.post {
  border: 1px solid #d5d2d2;
  display: flex;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 1rem;
}
.post:hover {
  background-color: rgba(255, 255, 255, 0.5607843137);
}
.post h2 {
  margin: 0;
}
.post a {
  cursor: pointer;
}
.post__content {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
}
.post__avatar {
  border-radius: 3rem;
  height: 80px;
  width: 85px;
  margin: 20px;
}
.post__image {
  margin: 20px 20px 0 0;
}
.post img {
  margin: auto;
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
}
.post__title {
  font-size: 24px;
  margin-top: 5px;
}
.post__info {
  display: flex;
  color: rgba(0, 0, 0, 0.7333333333);
  align-items: center;
  font-style: italic;
}
.post__user {
  font-size: 14px;
}
.post__date {
  margin-left: 3px;
  font-size: 13px;
}
.post__text {
  margin-top: 1rem;
  width: 95%;
  overflow: hidden;
  word-wrap: break-word;
}
.post__btn {
  display: flex;
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  width: 80%;
}
.post__btn #icon {
  font-size: 1rem;
  cursor: pointer;
}
.post .like {
  display: flex;
}
.post .like__btn {
  margin-right: 3px;
}
.post .like__btn:hover {
  color: blue;
}
.post .like__btn.active {
  color: blue;
}
.post .dislike {
  display: flex;
}
.post .dislike__btn {
  margin-right: 3px;
}
.post .dislike__btn:hover {
  color: red;
}
.post .dislike__btn.active {
  color: red;
}
.post .fa-thumbs-down {
  margin-top: 3px;
}
.post .update:hover {
  color: rgb(5, 109, 255);
}
.post .delete:hover {
  color: red;
}

@media screen and (max-width: 650px) {
  .posts {
    margin-bottom: 0;
    padding: 0;
  }
  .post {
    border-radius: 0;
    margin-bottom: 0px;
    background-color: #ffffff;
  }
}
/*LAYOUT*/
.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d2d2;
}
.header__img {
  margin-top: 3px;
}

img {
  width: 250px;
}

.nav {
  display: inline-flex;
}
.nav ul {
  text-decoration: none;
  display: inline-flex;
  height: 2rem;
  border-radius: 3rem;
  padding: 1rem;
  align-items: center;
  margin: auto 5px;
}
.nav ul:hover {
  background-color: rgba(15, 20, 25, 0.1019607843);
}
.nav button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

nav a.active {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #d5d2d2;
  }
  .header__img {
    margin-right: 40px;
  }
  .nav {
    margin-left: 50PX;
  }
  .nav__signup {
    margin-right: 70px;
  }
  .nav__login {
    margin-right: 40px;
  }
}
.footer {
  background-color: #ffffff;
  border-top: 1px solid #d5d2d2;
  width: 100%;
  height: 50px;
  margin: auto;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: auto;
}
.footer__logo {
  height: 1rem;
  width: 100px;
}
.footer p {
  margin-left: 4px;
  font-size: 12px;
  font-weight: bold;
}

#root {
  height: 100vh;
}

/*UTILS*/

/*# sourceMappingURL=style.css.map */
