.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d2d2;
}
img {
  width: 250px;
}

.nav {
  display: inline-flex;

  & ul {
    display: inline-flex;
    height: 2rem;
    border-radius: 3rem;
    padding: 1rem;
    align-items: center;
    margin: auto 5px;
  }
  & ul:hover {
    background-color: #0f14191a;
  }
}

nav a.active {
  font-weight: bold;
}

/*@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .header__nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav a {
    display: none;
  }
  li.fade {
    opacity: 1;
  }
}

*/
